h1 a,h2 a{
    color: orangered
}



body{
    
    font-family: 'Lato', sans-serif;
}

.page-header{
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;

}

.data{
    color: grey;
}

.content-container{
    
    margin: auto;
    width: 100%;
}

.post{
    margin-bottom: 70px;
    padding-left: 20px;
}


.post h2 a, .post h1 a:visited{
    color: #000000;
}